*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
#navbar{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    position: sticky;
    top: 0px;
    justify-content: center;
    /* text-decoration: none; */
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul{
    display: flex;
    /* flex-wrap: wrap; */
    font-family: 'Playfair Display', serif;
    /* text-decoration: none; */
}
#navbar ul li{
    font-size: 25px;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 5px 22px;
    border-radius: 20px;
    text-decoration: none;
    margin:0px 20px;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 4px;
    border-radius: 150px;
}
/* Home section */
#home{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 34px 34px;
    /* margin: 20px 35px; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Playfair Display', serif;
}
#home h1{
    /* margin: 25px 25px; */
    display: flex;
    /* flex-wrap: wrap; */
    font-size: 50px;
    padding: 25px;
    /* text-align: center; */
    justify-content: center;
}
#home p{
    display: flex;
    /* flex-wrap: wrap; */
    /* margin: 20px 20px; */
    font-size: 25px;
    padding: 25px;
    justify-content: center;
}
#home::before{
    /* display: flex; */
    /* flex-wrap: wrap; */
    content: "";
    background:url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    bottom: 0px;
    top:0px;
    left:0px;
    right: 0px;
    height:600px;
    width:100%;
    z-index: -1;
    opacity: 0.5;
}
#arts{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    padding: 34px 34px;
    /* margin: 150px 0px 0px 0px; */
    flex-direction: column;
    text-align: center;
    font-family: 'Playfair Display', serif;
    height: 15vh;
    /* background-color: rgb(169 167 167); */
    background: url('bg5.jpg') center;
    /* background-color: #272727; */
}
/* Art section */
/* /* #arts h1{
    text-align: center;
    font-size: 45px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Nanum Myeongjo', serif;
    /* border: 2px solid red; */
    /* margin: 40px 0px; */

#arts ul{
    display: flex;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    flex-wrap: wrap;
}
#arts ul li{
    font-size: 25px;
}
#arts ul li a{
    color:white;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin:5px 5px;
}
#arts ul li a:hover{
    color:black;
    background-color:rgb(206, 196, 196);
}
/* gallery */

#gallery{
    top: 0px;
    /* background-color:rgb(169 167 167) ; */
    background:url('bg5.jpg') center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* align-items: center; */
}
#sketch{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
#sketch img{
    margin: 2px 8px 2px 8px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
#sketch img:hover{
    height: 450px;
    width: 400px;
    transform: translate(10px,10px);
}
#mandala{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
#mandala img{
    margin: 2px 8px 2px 8px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
#mandala img:hover{
    height: 450px;
    width: 400px;
    transform: translate(10px,10px);
}
#marker{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
#marker img{
    margin: 2px 8px 2px 8px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
#marker img:hover{
    height: 450px;
    width: 400px;
    transform: translate(10px,10px);
}
#colors{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0px;
}
#colors img{
    margin: 2px 8px 2px 8px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
#colors img:hover{
    height: 450px;
    width: 400px;
    transform: translate(10px,10px);
}
/* about me */
#me{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    /* border: 2px solid red; */
    background:url('bg6.jpg') no-repeat center center/cover;
    
}
#myimage{
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 235px;
    margin: 100px 0px 0px 0px;
}
#myimage img{
    /* border: 2px solid red; */
    box-sizing: border-box;
    display: block;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    top: 0px;
    box-shadow: 2px 4px 25px 22px #272727;
    
}
#about{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 40px 40px 40px;
    font-size: 25px;
    color:#888585;
    font-family: 'EB Garamond', serif;
}
span{
    opacity: 0;
    transition: all 0.4s;
    transform: translateY(50px);
    display: inline-block;
}
span.fade{
    opacity: 1;
    transform: translateY(0px);
}

/* Contact Section */
#msgme{
    /* position: relative; */
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.h-primary center{
    text-align: center;
}
#msgme::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('bg6.jpg') no-repeat center center/cover;

}
#msgme h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}
.form-group label{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4px;
}
.form-group ::placeholder{
    text-align: center;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input{
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    align-items: center;

}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    text-align: center;
} 

#contact-box form{
    width: 38%;
}

#contact-box label{
   font-size: 1.3rem;
   /* font-family: 'Bree Serif', serif; */

}
.submit{
    opacity: 0.8;
    cursor: pointer;
    margin: 0px 0px 0px 8px;
}
#contactme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    /* background: url(bg.jpg) no-repeat center center/cover; */
    background-color: black;
}
#contactme ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
#contactme ul li a{
    display: block;
}
.logo img{
    height: 121px;
    width: 149px;
    margin: 10px 40px;
    filter: invert(70%);
    transition-property: all;
    transition-duration: 0.5s;
}
.logo img:hover{
    height: 250px;
    width: 250px;
    border-radius: 30px;
}